{% extends 'core/base.html' %}

{% block title %}{{ wager.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-6 gap-2">
    <div class="col-span-3">
        <img src="{{ wager.image.url }}" class="rounded-xl">
    </div>
    
    

    <div class="col-span-3 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ wager.name }}</h1>
        <p class="text-gray-500"><strong>Minimum stake: </strong> ${{ wager.stake }}</p>
        {% comment %} <p class="text-gray-500"><strong>Event </strong>{{ wager.event }}</p> {% endcomment %}
        <p class="text-gray-500"><strong>Odds </strong>{{ wager.odds }}</p>

        <a href="{% url 'wager:edit' wager.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-amber-500 text-white rounded-xl">Edit</a>
        <a href="{% url 'wager:delete' wager.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Share with Friends</a>
        <h1 class="mt-6 text-xl"> Compare your Odds with top bookmakers</h1>
        <div class="px-4 sm:px-0 lg:px-0">
            
            <div class="-mx-4 mt-8 sm:-mx-0">
              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Bookmaker</th>
                    <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Home Team</th>
                    <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Away Team</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Draw</th>
                    
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    {% for bookmaker in bookmakers %}
                  <tr>
                    <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-0">
                      {{bookmaker.title}}
                      <dl class="font-normal lg:hidden">
                        <dt class="sr-only">Title</dt>
                        <dd class="mt-1 truncate text-gray-700">Front-end Developer</dd>
                        <dt class="sr-only sm:hidden">Email</dt>
                        <dd class="mt-1 truncate text-gray-500 sm:hidden">lindsay.walton@example.com</dd>
                      </dl>
                    </td>
                    <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{bookmaker.markets.0.outcomes.0.price}}</td>
                    <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{bookmaker.markets.0.outcomes.1.price}}</td>
                    <td class="px-3 py-4 text-sm text-gray-500">{{bookmaker.markets.0.outcomes.2.price}}</td>
                    
                  </tr>

                  {% endfor %}

                 
                  <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
          
    </div>
</div>


{% endblock %}